@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #15803d;
  --secondary: #525252;
  --text: #7e7e7e;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: var(--secondary);
  /* background-color: #d1fae5; */
}

h1 {
  font-size: 78px;
  font-weight: 300;
}

h2 {
  font-size: 55px;
  font-weight: 300;
  line-height: 1.2em;
}

h3 {
  font-size: 30px;
  font-weight: normal;
}
h4 {
  font-size: 22px;
  font-weight: normal;
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 1px;
  font-weight: normal;
  color: var(--text);
}

button {
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 4px;
  text-transform: uppercase;
  background: #15803d;
  color: white;
  letter-spacing: 0.1em;
}

.inp {
  @apply border px-2 py-1 rounded outline-none border-primary
}

.reviewBg {
  background: linear-gradient(
      0deg,
      #16acbd75,
      #16acbd75
    ),
    url("/darbanimages/darban-1.jpeg");
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 31px;
    font-weight: 300;
  }

  h2 {
    font-size: 30px;
    font-weight: 300;
  }

  h3 {
    font-size: 25px;
    font-weight: normal;
  }
  h4 {
    font-size: 18px;
    font-weight: normal;
  }

  h5 {
    font-size: 16px;
    font-weight: normal;
  }

  p {
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 1px;
    font-weight: normal;
  }
}






@font-face {
  font-family: 'Learning Curve';
  src: url('/fonts/learning_curve.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sofia Regular';
  src: url('/fonts/sofia_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Some To Love';
  src: url('/fonts/some_to_love.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Life Sugar';
  src: url('/fonts/life_sugar.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cartitra';
  src: url('/fonts/cartitra-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Croogs';
  src: url('/fonts/croogs.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}